.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure footer stays at bottom */
}

.main-content {
  flex-grow: 1; /* Allow main content to take up available space */
  padding-top: 80px; /* Adjust based on Navbar height */
  padding-bottom: 60px; /* Adjust based on Footer height */
}

/* Add media queries for responsiveness later */ 